
*{
    box-sizing: border-box;    
}

#grid-container{
    height:500px;
    background-color: #fffdd0;
    width: 500px;
    display: grid;
    margin:auto;
    box-shadow: 5px 5px 5px grey ;
}

.cell{
    border: 1px solid black;
}
